---
title: Blog
layout: blog_default
---
<div class="posts">
    {% for post in site.posts %}
    <section class="finicial">
        <div>
            <div class="finicial-left">
                <small>
                    {% for tag in post.tags %}
                    {{ tag }}{% if forloop.last %}{% else %},{% endif %}
                    {% endfor %} * {{ post.readTime }} read</small>
                <h5>{{ post.title }}<br/><span>{{ post.subtitle }}</span></h5>
                <a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ site.baseurl }}/img/icons/read_more.svg"/>Read more</a>
            </div>
            <div class="finicial-right">
                <a href="{{ site.baseurl }}{{ post.url }}">
                    <img src="{{ site.baseurl }}/img/{{ post.titleImage }}" alt="finicial"/>
                </a>
            </div>
        </div>
    </section>
    {% endfor %}
</div>