---
layout: default
contact_section: true
---
<!-- ::::::::::::header:::::::::::: -->
<header class="header">
    <div class="header__left">
        {% include navbar.html %}
        <!-- ::::::::::::header  content:::::::::::: -->
        <div class="header__left--content">
            <h1>Reach financial freedom <span>with ease</span></h1>
            <p>Regardless of how much money you start with, we provide the know-how and automated tools to unlock your
                financial potential!</p>
            <ul>
                <li>Years of experience</li>
                <li>Proven methodology</li>
                <li>Lowest comparable fees</li>
            </ul>
            {% include join_the_waitlist.html %}
        </div>
    </div>
    <div class="header__right">
        <img src="{{ site.baseurl }}/img/index/header/hero-bg.png" alt="hero" class="hero-bg"/>
        <img src="{{ site.baseurl }}/img/index/header/hero.png" alt="hero" class="hero"/>
    </div>
</header>
<!-- ::::::::::::main part of the page:::::::::::: -->
<main class="main">
    <!-- ::::::::::::story:::::::::::: -->
    <div class="story" id="our-story">
        <div class="story__heading">
            <p class="sub-text">start small</p>
            <h6>think big</h6>
            <p class="main-text">Invest regularly, unlock the magic of compounding, and make your money work for you
                without losing your sleep over it!</p>
        </div>
        <div class="story__content">
            <div class="story__content--mobile">
                <img src="{{ site.baseurl }}/img/index/story/think-mobile.png" alt="mobile" class="think-mobile"/>
            </div>
            <div class="story__content--heading">
                <h4>We are your guide to success on your lifelong journey in investing</h4>
                <p>Our mission is to help our customers build financial independence from scratch by providing them with
                    opportunities traditionally reserved for the wealthy.</p>
            </div>
            <div class="story__content--boxes">
                {% for story_box in site.data.story_boxes %}
                <div class="box">
                    <img src="{{ site.baseurl }}/img/index/story/{{ story_box.image }}">
                    <h5>{{ story_box.headline }}</h5>
                    {% for content in story_box.content %}
                        <p>{{ content }}</p>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            <img src="{{ site.baseurl }}/img/index/story/linefor-purple-bg.png" alt="lines" class="think-lines"/>
        </div>
    </div>
    <!-- ::::::::::::feature:::::::::::: -->
    <div class="feature" id="features">
        {% for feature in site.data.features %}
        <div class="feature__box{% if feature.class %} {{feature.class}}{% endif %}">
            <section class="feature__box--left">
                <p class="top-text">{{ feature.title }}</p>
                <h1>{{ feature.headline }}</h1>
                <div class="collapse-content">
                    {% for description in feature.description %}
                    <p>{{ description }}</p>
                    {% endfor %}
                    {% include join_the_waitlist.html %}
                </div>
                <button class="link feature-action">
                    <span class="find-out-more">Find out how</span>
                    <span class="show-less">Show less</span>
                </button>
            </section>
            {% if feature.image_dial %}
            <div class="feature__box--right dial-bg">
                <img src="{{ site.baseurl }}/img/{{ feature.image_dial }}" alt="image 1" class="dial-mobile"/>
                <img src="{{ site.baseurl }}/img/index/dial-bg-lines.png" alt="image background" class="dial-lines"/>
            </div>
            {% elsif feature.image %}
            <div class="feature__box--right"><img src="{{ site.baseurl }}/img/{{ feature.image }}" alt="image 1"/></div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <!-- ::::::::::::reviews:::::::::::: -->
    <div class="review">
        <div class="review-slider swiper">
            <div class="swiper-wrapper">
                {% for reviewer in site.data.reviewers %}
                <div class="swiper-slide slider-content">
                    <img src="{{ site.baseurl }}/img/index/reviews/{{ reviewer.image }}" alt="{{ reviewer.name }}" class="reviewer"/>
                    <div class="slider-text">
                        <p>{{ reviewer.quote }}</p>
                        <ul>
                            <li>{{ reviewer.name }}</li>
                            <li>{{ reviewer.title }}</li>
                        </ul>
                    </div>
                    <img src="{{ site.baseurl }}/img/index/reviews/reviews-lines.png" alt="lines" class="review-line"/>
                </div>
                {% endfor %}
            </div>
        </div>
        <button class="btn-left"><img src="{{ site.baseurl }}/img/index/reviews/arrow_left.svg"/></button>
        <button class="btn-right"><img src="{{ site.baseurl }}/img/index/reviews/arrow_right.svg"/></button>
    </div>

    <!-- ::::::::::::pricing:::::::::::: -->
    <div class="pricing" id="pricing">
        <div class="pricing-img">
            <img src="{{ site.baseurl }}/img/pricing-img.png" alt="pricing" class="price-img"/>
        </div>
        <div class="pricing-text">
            <h5>You should never be punished for investing.</h5>
            <p>The only fee we charge is a management fee of less than 1% of the total value of your investments per year.</p>
        </div>

        <div class="pricing-boxes">
        {% for pricing in site.data.pricing %}
            <div class="box">
                <img src="{{ site.baseurl }}/img/index/pricing/{{ pricing.image }}" alt="{{ reviewer.title }}"/>
                <h3>{{ pricing.title }}</h3>
                {% for description in pricing.description %}
                <p>{{ description }}</p>
                {% endfor %}
            </div>
        {% endfor %}
        </div>
        <img src="./img/pricing-lines.png" alt="lines" class="price-line"/>
    </div>
    <!-- ::::::::::::category:::::::::::: -->
    <div class="category">
        {% for category in site.data.index_categories %}
        <div class="category__boxes">
            <img src="{{ site.baseurl }}/img/index/categories/{{ category.image }}" alt="{{ category.title }}"/>
            <h6>{{ category.title }}</h6>
            <p>{{ category.description }}</p>
        </div>
        {% endfor %}
    </div>
</main>
