<div class="feature">
    <div class="feature__box">
        <section class="feature__box--left">
            <p class="top-text">Contact us</p>
            <h1>Want to get in touch? <span>We would love to hear from you!</span></h1>
            <div class="contact-us-content">
                <p>
                    You can book a <a target="_blank" href="https://calendar.google.com/calendar/appointments/schedules/AcZssZ1ogueDiQU0KqbG_GO8F_WRkDX8q5pdvPyQ3gvv8gKrMrR0I5ZzR_0LGBa3ApXPikM846jB88b_?gv=true">video call</a> or email us at <a target="_blank" href="mailto:hello@truf.company">hello@truf.company</a>.
                </p>
                <p>
                    The Really Useful Finance Company OÜ </br>
                    registration number 16618475
                </p>
                <p>
                    Tallinn, Maakri tn 19/1, 10145, Estonia
                </p>
            </div>
        </section>
        <div class="feature__box--right">
            <img src="/img/house.png" alt="card" width="100%"/>
        </div>
    </div>
</div>