<!-- ::::::::::::footer:::::::::::: -->
<footer id="footer" class="footer">
    <div class="footer__content">
        <div class="try-it-out">
            <p>Experience our demo software first-hand! Try it out for yourself and see how it can benefit you. No sign-up required.</p>
            <p><a href="https://truf.company/demo/#/">Just click and explore.</a></p>
        </div>
        <h3>We are fine tuning our service.</h3>
        <h2>Be the first to know when we launch and receive 10 € for investing!</h2>
        {% include join_newsletter.html %}
    </div>
    <img src="{{ site.baseurl }}/img/footer-lines.png" alt="line" class="footer-line"/>
</footer>

