<!-- ::::::::::::footer:::::::::::: -->
<footer id="footer" class="footer">
    <div class="footer__content">
        <div class="try-it-out">
            <p>Experience our demo software first-hand! Try it out for yourself and see how it can benefit you. No sign-up required.</p>
            <p><a href="https://truf.company/demo/#/">Just click and explore.</a></p>
        </div>
        <h2>We are working on building our investment service.</h2>
        <h3>In the meantime, get our
            financial freedom calculator. It may change your life. As an additional early
            bird bonus, you will receive 10 € when we launch.</h3>
        {% include join_newsletter.html %}
    </div>
    <img src="{{ site.baseurl }}/img/footer-lines.png" alt="line" class="footer-line"/>
</footer>

