<!-- ::::::::::::footer:::::::::::: -->
<footer id="footer" class="footer">
    <div class="footer__content">
        <div class="try-it-out">
            <p>Try out our financial independence calculator!</p>
            <p><a href="https://app.truf.company/#/signup?income=2000&savings_rate=20">Just click and explore.</a></p>
        </div>
        <h2>We are working on building our investment service.</h2>
        <h4>In the meantime, get our
            financial freedom calculator. It may change your life. As an additional early
            bird bonus, you will receive 10 € when we launch.</h4>
        {% include join_newsletter.html %}
    </div>
    <img src="{{ site.baseurl }}/img/footer-lines.png" alt="line" class="footer-line"/>
</footer>

